/* Custom styles for the cluster icon */
.custom-marker-cluster {
  background-color: rgba(51, 136, 255, 0.6);
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 33px;
  font-weight: bold;
  font-size: 14px;
}

.cluster-icon {
  display: block;
  width: 33px;
  height: 33px;
}
